<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a routerLink="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="assets/img/logo2.png" alt="Logo Flor de Lótus">
        <h1 class="sitename">Flor de Lótus</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/" class="active">Início</a></li>
          <li><a routerLink="/about">Sobre</a></li>
          <li><a routerLink="/location">Localização</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted d-none d-sm-block" routerLink="/agendar">Agende Agora</a>
    </div>
  </header>
